$light-color: #CAC1C1;
$light-low-color: #505860;
$dark-color: #2B2626;
$success-color: #3EAA23;
$error-color: #d30505;

$border-radius-default: 5px;

$header-min-height: 69px;
$footer-min-height: 69px;

$margin-default: 10px;
$padding-default: 10px;

$opacity-light: 0.85;
$opacity-default: 0.5;
